<ion-view view-title="Questions">
    <br>
    <br>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Calender" icon-on="ion-calendar" icon-off="ion-calendar">
            <ion-content scroll="true" ng-controller="CalenderCtrl">
<div id="calendar">
  
</div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Agenda View" icon-on="ion-grid" icon-off="ion-grid">
            <ion-content scroll="true">
            </ion-content>
        </ion-tab>
        <ion-tab title="Add New Entry" a icon-on="ion-checkmark" icon-off="ion-checkmark">
            <ion-content scroll="true">
                <br>
                <br>
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="item item-divider">
                            General Mood for Today
                        </div>
                        <div class="item range range-positive">
                            <i class="icon ion-ios7-sunny-outline"></i>
                            <span class="input-label">Rate your day from 1 to 10</span>
                            <input type="range" name="volume" min="0" max="10" value="1">
                            <i class="icon ion-ios7-sunny"></i>
                        </div>
                        <div class="item item-divider">
                            Did you have thoughts of harming yourself or others?
                        </div>
                        <label class="item item-radio" ng-controller="PopupCtrlEmergency" ng-click="showAlert()">
                            <input type="radio" name="group">
                            <div class="item-content">
                                Yes
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="group">
                            <div class="item-content">
                                No
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                            </ion-radio>
                        </label>
                        <div class="item item-divider">
                            Pick your general mood for the day
                        </div>
                        <ion-checkbox ng-repeat="item in moods">
                            {{item.text}}
                        </ion-checkbox>
                    </div>
                    <div class="item item-divider">
                        Notes for the day:
                    </div>
                    <div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Good things that happened</span>
                            <input type="text" placeholder="I found a quarter!">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Bad things that happened</span>
                            <input type="text" placeholder="I broke a mug.">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Things I accomplished</span>
                            <input type="text" placeholder="I cleaned up my desk!">
                        </label>
                    </div>
                </div>
                <div class="row" ng-controller="PopupCtrlSubmit" ng-click="showAlert()">
                    <div class="col text-center">
                        <button class="button button-royal">Submit Log</button>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
